/* This file includes changes to the formating of different elements */
/* ----------------------------------------------------------------- */

/* Sets color of "Plots" link and background */
#dropdownMenuButton {
  background-color: black;
  color: #2FA4E7;
}

/* Creates a colored background behind items in dropdown list
   when cursor hovers over them  */
.dropdown-menu a:hover, .dropdown-menu a:focus { 
  background-color: #2FA4E7;
  color: white;
}

/* Sets color of "Comparison" & "Data" links in navbar */
.nav-link {
  color: #2FA4E7;
}

/* Sets color of banner at top of page containing page title and nav links  */
.navbar {
    background-color: black
}




